OPENAI_API_KEY = "put your api key here"
OPENAI_LLM_MODEL = "put your model name here"
OPENAI_EMBEDDING_MODEL = "put your embedding model name here"
TASK1_BASE_URL= "http://127.0.0.1:8000"
TASK1_ENDPOINT= "/triage"